<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/keys_louncher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/keys_louncher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KEYS">

        <service
            android:name=".aman.app.MyAutofillService"
            android:label="KEYS"
            android:exported="true"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/multidataset_service" />
        </service>

        <activity
            android:name=".aman.app.notes.BiometricActivity"
            android:exported="false" />
        <activity
            android:name=".aman.app.notes.secretNotesActivity"
            android:exported="false" />
        <activity
            android:name=".aman.app.notes.addNotesActivity"
            android:exported="false" />
        <activity
            android:name=".aman.app.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".aman.app.signin_login.LogInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".aman.app.checkInternetFragment"
            android:exported="false" />

        <activity
            android:name=".aman.app.home.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".aman.app.home.ShowCardviewDataActivity"
            android:exported="false" />
        <activity
            android:name=".aman.app.notes.notesActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".aman.app.home.PassGenActivity"
            android:exported="false" />
        <activity
            android:name=".aman.app.settings.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".aman.app.home.addpassword.addPasswordData"
            android:exported="true"
            android:icon="@drawable/ic_baseline_add_24"
            android:roundIcon="@drawable/group_1final_keys_logo"
            android:label="Add Password">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aman.app.settings.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".aman.app.settings.AppInfo"
            android:exported="false" />
        <activity
            android:name=".aman.app.notes.pinLockFragment"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>